{% extends 'base.html' %}
{% load url from future %}
{% block title %}Workout{% endblock %}
{% block content %}
<a href="{% url 'workout_start' %}"><button class="btn primary">Start</button></a>
<a href="{% url 'workout_end' %}"><button class="btn success">End</button></a>
<table>
<thead>
	<tr>
		<th>Start</th>
		<th>End</th>
		<th>Duration</th>
	</tr>
</thead>
<tbody>
{% for workout in user.get_profile.get_workouts_for_display %}
	<tr>
		<td>{{workout.start}}</td>
		<td>{{workout.end}}</td>
		<td>{{workout.duration}}</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
