{% extends 'base.html' %}
{% load url from future %}
{% block title %}Home{% endblock %}
{% block content %}
<div id="login-box">
{% if not user.is_authenticated %}
Login via: <a href="{% url 'core_register_geoloqi' %}"><img src="{{ STATIC_URL }}images/geoloqi-logo.png" alt="Geoloqi"/></a>
{% else %}
<div>Ohai {{ user }} <a href="{% url 'logout' %}">logout</a></div>
<div>Associate with: <a href="{% url 'core_register_dailymile' %}"><img src="{{ STATIC_URL }}images/dailymile-logo.png" alt="DailyMile"/></a></div>
<div>Log new <a href="{% url 'workout_splash' %}">workout</a></div>
{% endif %}
</div>
{% endblock %}
